.szb-main-div {
    border-top: 1px solid #dee1e3;
}

.szb-main-spacer-div {
    margin-top: 6px; 
}

.szb-box-spam {
    display: inline-block; 
    margin: 6px;
}

.szb-main-button {
    height: 40px; 
    background-color: #ffffff; 
    border: 1px solid #dee1e3;
}

.szb-icon-fr-div {
    background: url(https://static.sizebay.com/store/nike/clothes-hanger_gray.svg) center center / 55% 55% no-repeat; 
    display: inline-block; 
    height: 35px; 
    width: 35px; 
    transform: scale(1, 1); 
    position: relative; 
    vertical-align: middle;
    top: -3px!important;
}

.szb-icon-tm-div {
    background: url(https://static.sizebay.com/store/nike/measuring-tape_gray.svg) center center / 55% 55% no-repeat; 
    display: inline-block; 
    height: 35px; 
    width: 35px; 
    transform: scale(1, 1); 
    position: relative; 
    vertical-align: middle;
    top: -4px!important;
}

.szb-fit-txt-div {
    margin-top: 11px; 
    display: inline-block;
}

.szb-main-txt-spam {
    font-size: 13px; 
    font-family: "Roboto Condensed", "sans-serif"; 
    color: #3d3d3d;
}
